[Unit]
Description=mk3supra.net
After=syslog.target network.target

[Service]
Type=simple
User=user_mk3supra
WorkingDirectory=/var/www/html/mk3supra.net
ExecStart=/var/www/html/mk3supra.net/venv/bin/python3.10 serve.py
ExecStop=/bin/echo “mk3supra stopped” | /usr/bin/mail -s "mk3supra stopped" zubir
Restart=always
