{% extends "public/html/base_index.html" %}
{% block styles %}
{{super()}}
{% endblock %}
{% block title %}🏎️  MK3 Supra 🏎️{% endblock %}

{% block content %}
<h1>OEM, Aftermarket, and Custom Parts </h1>
Links to sellers of OEM, aftermarket and custom parts. In no particular order other than the order I remembered them. 
<div class='terminal-timeline'>
	<div class='terminal-card'>
		<header><a class='terminal-prompt' href='https://www.nengun.com/oem/toyota/supra-a70-mkiii-ma70'>Nengun MA70 OEM Parts Catalog</a><br>
			<a class='terminal-prompt' href='https://www.nengun.com/oem/toyota/supra-a70-mkiii-jza70'>Nengun JZA70 OEM Parts Catalog</a>
		</header>
		<div>
			<p>Easy to use parts catalog for 1986-1990 JDM RHD 7M-GTE A70s and 1990-1993 1JZ-GTE JZA70s. They also have part catalogs for virtually every other JDM vehicle.</p> 
			When I need to find a Toyota part number, this is the first place I go. Parts purchased from them are shipped from Japan,
			so usually I just their site for part numbers and then purchase them from my local dealer.
			If you need USDM or LHD specific parts, use CygnusX1 Parts Catalog instead.</p>
		</div>
	</div>
	<div class='terminal-card'>
		<header><a class='terminal-prompt' href='https://toyotagazooracing.com/gr/heritage/'>EN Toyota GR Heritage Parts</a><br>
			<a class='terminal-prompt' href='https://toyotagazooracing.com/pages/contents/jp/gr/heritage/productlist/index.html'>JP Toyota GR Heritage Parts</a>
		</header>
		<div>
			<p>Toyota has begun reproducing discontinued parts as part of the Toyota GR Heritage reproduction parts project. 
			I have included both the English and Japanese sites since some parts are only offered in each market.</p>
		</div>
	</div>
	<div class='terminal-card'>
		<header><a class='terminal-prompt' href='https://www.driftmotion.com/'>Driftmotion</a><br>
		        <a class='terminal-prompt' href='https://www.driftmotion.com/'>Punch-Out Performance & Machine</a></header>
		<div>
			<p><em>Consistently Awesome Since 2005!</em>
			Great selection of all sorts of OEM and custom billet parts and kits for 7M and JZ platforms. I have listed Driftmotion and Punch-Out in the same category
			since Driftmotion offers parts they produce in their storefront.</p>
			<p>Some of their exclusive parts I have purchased include: billet oil filter adapter, shock tower tops and oil fill cap, CT26 downpipe</p>
		</div>
	</div>
	<div class='terminal-card'>
		<header><a class='terminal-prompt' href='https://nightrungarage.com/'>Nightrun Garage</a></header>
		<div>
			<p>Great curated selection of all sorts of OEM and custom parts for Supras and other Japanese platforms.</p>
			<p>Fast shipping too! Exclusive parts include fuel pump to filter hose, quality floor mats, and gauge faces.</p>
		</div>
	</div>
	<div class='terminal-card'>
		<header><a class='terminal-prompt' href='https://raptorracing.com'>Raptor Racing</a></header>
		<div>
			<p>Old school vendor from Canada with a large selection of OEM and aftermarket parts and accessories.</p>
		</div>
	</div>
	<div class='terminal-card'>
		<header><a class='terminal-prompt' href='https://www.suprastore.com/'>Suprastore</a></header>
		<div>
			<p>Offers a large selection of OEM and aftermarket parts and accessories. If they don't offer something, they will help you find it.</p>
		</div>
	</div>
	<div class='terminal-card'>
		<header><a class='terminal-prompt' href='https://fornariracing.com/'>Fornari Racing</a></header>
		<div>
			<p>Billet chassis and engine parts for high performance 7M builds, run by Dominic Fornari.</p> 
			<p>I have purchased his CPS delete/crank trigger kit and is, in my opinion, a must have upgrade
			for anyone using a standalone ECU and an ATI damper. The 1ZZ coil pack bracket is also a solid choice for a built 7M. Updated with new offerings frequently.</p>
		</div>
	</div>
	<div class='terminal-card'>
		<header><a class='terminal-prompt' href='https://www.sr-fab.com/'>SR-Fab</a></header>
		<div>
			<p>Billet engine parts for high performance 7M builds, run by Steven Reedholm.</p>
			<p>Primary source for alternator relocation brackets, CPS delete/crank trigger kit,
			forward-facing intake manifolds, and more. Updated with new offerings frequently.</p>
		</div>
	</div>
	<div class='terminal-card'>
		<header><a class='terminal-prompt' href='http://www.a-r-z.com/'>Arizona Performance</a></header>
		<div>
			<p>Billet engine parts. Their main offerings are block-off plates, turbo flanges, and high-flow 7M oil pump pipe.</p>
		</div>
	</div>
	<div class='terminal-card'>
		<header><a class='terminal-prompt' href='https://tougenation.com.au'>Touge Nation</a></header>
		<div>
			<p>Very nice reproduction and unique decals from down under. Many different offerings, my favorite being new 7M engine nameplates.</p>
		</div>
	</div>
</div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}

