<HTML>
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<META name="AUTHOR" content="Jeeves">
<META name="KEYWORDS" content="Mk3 Supra TSRM (Toyota Supra Repair Manual) Links/Downloads">
<META name="DESCRIPTION" content="Mk3 Supra TSRM (Toyota Supra Repair Manual) Links/Downloads">
<TITLE>Mk3 Supra TSRM (Toyota Supra Repair Manual) Links/Downloads</TITLE>
<style type='text/css'>
table {
border: 1px solid #000;
background-color: #F00;
empty-cells: show;
}

.grntaco {
border: 1px solid #090;
background-color: #000;
empty-cells: show;
}

th, td {
border: 1px solid #000;
}

#halp { 
position:absolute; 
left: 50%; 
height: 15px; 
} 

sample {
FONT-SIZE: 10pt;
Color: #FF0000;
font: "Courier New";
}
</style>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1681879-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</HEAD>
<BODY bgcolor="#FFFFFF" text="#000000" style="SCROLLBAR-FACE-COLOR:#C0C0C0;SCROLLBAR-ARROW-COLOR:#000000;SCROLLBAR-3DLIGHT-COLOR:#000000;SCROLLBAR-DARKSHADOW-COLOR:#000000;SCROLLBAR-HIGHLIGHT-COLOR:#FFFFFF;SCROLLBAR-SHADOW-COLOR:#FFFFFF;SCROLLBAR-TRACK-COLOR:#FFFFFF;">
<DIV style="position:absolute; left:50px; top:19px; width:700px; height:548px; z-index:0"  align="left" align="top">
<FONT style="FONT-SIZE:14pt" color="#000000" face="Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This is a mirror of http://www.turboninjas.com/mk3supra/</u><BR></font>
<FONT style="FONT-SIZE:14pt" color="#000000" face="Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u>Mk3 Supra TSRM (</u><b>T</b><u>oyota </u><b>S</b><u>upra </u><b>R</b><u>epair </u><b>M</b><u>anual) Links/Downloads</u><BR></font>
<BR>
<FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<B>Hosted By</B>: <b>Jeeves</b> @ <A href="http://www.racingsouthwest.com">RacingSouthwest.com</A> with files/info from: <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="http://www.cygnusx1.net/supra/techtips.html">CygnusX1</a>, <a href="http://www.supramania.com">SupraMania.com</a> and <a href="http://www.supraforums.com">SupraForums.com</a><BR><p>
&nbsp;&nbsp;&nbsp;<FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New"><B>Note</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New"></B>: PDF's require [<A 
href="http://www.adobe.com/products/reader.html">Adobe 
Reader</a> [<A href="http://aihdownload.adobe.com/bin/live/install_reader11_en_mssd_aih.exe">v11</a> (975Kb/Online Installer, ~45Mb Installed)]<BR>
&nbsp;&nbsp;&nbsp;<FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">Alternatively, <a href="http://www.foxitsoftware.com/pdf/reader/">Foxit Reader</a> can be used to view PDF's. <a 
href="http://cdn04.foxitsoftware.com/pub/foxit/reader/desktop/win/5.x/5.4/enu/FoxitReader543.0920_enu_Setup.exe">v5.4.3.0920</a> (14.9Mb)<br>
<br>
<center>Page Last Modified</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New"></B>: Apr/29/2012</center>
<BR>
<BR>
<FONT style="FONT-SIZE:12pt; text-decoration:underline; font-weight:bold" color="#000000">General Information</FONT>
<table width=650>&nbsp;</table>
<A href="/mk3supra/others/1987 Radio wiring diagram.pdf">...diagram.pdf</A>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; = <B>1987+ Radio Wiring Diagram ---------------------</B> [</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">0.2Mb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/others/86-88 UK TEWD.pdf">...TEWD.pdf</A>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; = <B>86-88 UK Toyota Electronic Wiring Diag. </B> -------- [</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">20.2Mb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/others/Mk3 Alarm Wiring.pdf">Alarm Wiring.pdf</A>&nbsp;&nbsp;&nbsp;&nbsp; = <B>Mk3 Alarm Wiring (w/Relay) ---------------------</B> [</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">0.5Mb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/others/Mk3 Engine Fasteners.pdf">Engine Fasteners.pdf</A> = <B>Mk3 Engine Fasteners ---------------------------</B> [</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">0.2Mb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/others/Mk3Handbook.pdf">Mk3Handbook.pdf</A>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; = <B>Mk3 Supra Handbook -----------------------------</B> [</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">3.2Mb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/others/RebuildSpecs.pdf">RebuildSpecs.pdf</A>&nbsp;&nbsp;&nbsp;&nbsp; = <B>Rebuild Specs (Brief) --------------------------</B> [</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">0.02Mb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/CygnusX1/CygnusX1.zip">CygnusX1.zip</A>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; = <B>CygnusX1 Site Backup EPC/TSRM/TEWD (OLD) -------</B> [</FONT><FONT 
style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">210Mb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>


<BR>
<BR>
<FONT style="FONT-SIZE:12pt; text-decoration:underline; font-weight:bold" color="#000000">1987 Mk3 TSRM</FONT>
<table width=650>&nbsp;</table>
<A href="/mk3supra/1987/01-Intro.pdf">01-Intro.pdf</A> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; = <B>INTRODUCTION ------------------------------</B> [</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">0.5Mb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/1987/02-EngineMechanical.pdf">02-EngineMechanical.pdf</A>&nbsp;&nbsp; = <B>ENGINE MECHANICAL -------------------------</B> [</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">7.3Mb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/1987/03-TurbochargerSystem.pdf">03-TurbochargerSystem.pdf</A> = <B>CT26 TURBOCHARGER SYSTEM</B> ------------------ [</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">1.7Mb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/1987/04-EFISystem.pdf">04-EFISystem.pdf</A>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; = <B>EFI SYSTEM --------------------------------</B> [</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">11.6Mb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/1987/05-CoolingSystem.pdf">05-CoolingSystem.pdf</A>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; = <B>COOLING SYSTEM ---------------------------- </B>[</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">1Mb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/1987/06-LubricationSystem.pdf">06-LubricationSystem.pdf</A>&nbsp; = <B>LUBRICATION SYSTEM</B> <B>------------------------ </B>[</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">1.2Mb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/1987/07-IgnitionSystem.pdf">07-IgnitionSystem.pdf</A>&nbsp;&nbsp;&nbsp;&nbsp; = <B>IGNITION SYSTEM</B> <B>--------------------------- </B>[</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">1.6Mb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/1987/08-StartingSystem.pdf">08-StartingSystem.pdf</A>&nbsp;&nbsp;&nbsp;&nbsp; = <B>STARTING SYSTEM --------------------------- </B>[</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">3.8Mb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/1987/09-ChargingSystem.pdf">09-ChargingSystem.pdf</A>&nbsp;&nbsp;&nbsp;&nbsp; = <B>CHARGING SYSTEM --------------------------- </B>[</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">3.3Mb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/1987/10-ServiceSpecs.pdf">10-ServiceSpecs.pdf</A>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; = <B>SERVICE SPECIFICATIONS</B> <B>-------------------- </B>[</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">5.1Mb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/1987/11-NewCarFeatures.pdf">11-NewCarFeatures.pdf</A>&nbsp;&nbsp;&nbsp;&nbsp; = <B>NEW CAR FEATURES</B> <B>-------------------------- </B>[</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">1.1Mb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<BR>
<A href="/mk3supra/1987/1987_Mk3_TEWD.pdf">1987_Mk3_TEWD.pdf</A>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; = <B>1987 TOYOTA ELECTRONIC WIRING DIAGRAMS</B> <B>---- </B>[</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">81.6Mb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<BR>
Entire 1987 TSRM (Zipped): <A href="/mk3supra/1987/1987TSRM.zip">1987TSRM.zip</FONT><FONT style="FONT-SIZE:12pt" color="#000000" face="Courier New"></A> </FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New"><B>-------------------- </B>[</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">35Mb, ZIP</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>

<BR>
<BR>
<FONT style="FONT-SIZE:12pt; text-decoration:underline; font-weight:bold" color="#000000">1990 Mk3 TSRM </FONT>
<table width=650>&nbsp;</table>
<A href="/mk3supra/1990/indiv/01_IN.pdf">01_IN.pdf</A> = <B>INTRODUCTION ----------------------------------------------</B> [</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">1.2Mb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/1990/indiv/02_MA.pdf">02_MA.pdf</A> = <B>MAINTENANCE -----------------------------------------------</B> [</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">1.2Mb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/1990/indiv/03_EM.pdf">03_EM.pdf</A> = <B>ENGINE MECHANICAL</B> ----------------------------------------- [</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">8Mb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/1990/indiv/04_EX.pdf">04_EX.pdf</A> = <B>EXHAUST SYSTEM --------------------------------------------</B> [</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">0.2Mb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/1990/indiv/05_TC.pdf">05_TC.pdf</A> = <B>TURBOCHARGER (CT26) SYSTEM -------------------------------- </B>[</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">1.4Mb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/1990/indiv/06_EC.pdf">06_EC.pdf</A> = <B>EMISSION CONTROL SYSTEM</B> <B>----------------------------------- </B>[</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">1.5Mb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/1990/indiv/07_FI.pdf">07_FI.pdf</A> = <B>EFI SYSTEM</B> <B>------------------------------------------------ </B>[</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">8.6Mb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/1990/indiv/08_CO.pdf">08_CO.pdf</A> = <B>COOLING SYSTEM -------------------------------------------- </B>[</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">1.2Mb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/1990/indiv/09_LU.pdf">09_LU.pdf</A> = <B>LUBRICATION SYSTEM ---------------------------------------- </B>[</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">1.3Mb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/1990/indiv/10_IG.pdf">10_IG.pdf</A> = <B>IGNITION SYSTEM</B> <B>------------------------------------------- </B>[</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">1.7Mb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/1990/indiv/11_ST.pdf">11_ST.pdf</A> = <B>STARTING SYSTEM</B> <B>------------------------------------------- </B>[</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">0.8Mb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/1990/indiv/12_CH.pdf">12_CH.pdf</A> = <B>CHARGING SYSTEM -------------------------------------------</B> [</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">1.2Mb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/1990/indiv/13_CL.pdf">13_CL.pdf</A> = <B>CLUTCH ----------------------------------------------------</B> [</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">1.2Mb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/1990/indiv/14_MT.pdf">14_MT.pdf</A> = <B>MANUAL TRANSMISSION (R154)</B> -------------------------------- [</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">6.4Mb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/1990/indiv/15_AT.pdf">15_AT.pdf</A> = <B>AUTOMATIC TRANSMISSION (A340E) ----------------------------</B> [</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">11Mb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/1990/indiv/16_PR.pdf">16_PR.pdf</A> = <B>PROPELLER SHAFT ------------------------------------------- </B>[</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">0.6Mb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/1990/indiv/17_FA.pdf">17_FA.pdf</A> = <B>FRONT AXLE & SUSPENSION</B> <B>----------------------------------- </B>[</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">2.8Mb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/1990/indiv/18_RA.pdf">18_RA.pdf</A> = <B>REAR AXLE & SUSPENSION</B> <B>------------------------------------ </B>[</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">5.2Mb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/1990/indiv/19_BR.pdf">19_BR.pdf</A> = <B>BRAKE SYSTEM ---------------------------------------------- </B>[</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">4.6Mb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/1990/indiv/20_SR.pdf">20_PR.pdf</A> = <B>STEERING SYSTEM ------------------------------------------- </B>[</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">6.8Mb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/1990/indiv/21_AB.pdf">21_AB.pdf</A> = <B>SRS AIRBAG</B> <B>------------------------------------------------ </B>[</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">6.8Mb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/1990/indiv/22_BE.pdf">22_BE.pdf</A> = <B>BODY ELECTRICAL</B> <B>------------------------------------------- </B>[</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">7.3Mb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/1990/indiv/23_BO.pdf">23_BO.pdf</A> = <B>BODY ------------------------------------------------------ </B>[</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">4.7Mb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/1990/indiv/24_AC.pdf">24_AC.pdf</A> = <B>AIR CONDITIONING SYSTEM</B> <B>----------------------------------- </B>[</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">3.3Mb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/1990/indiv/25_A.pdf">25_A.pdf</A>&nbsp; = <B>SERVICE SPECIFICATIONS</B> <B>------------------------------------ </B>[</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">2.2Mb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/1990/indiv/25_B.pdf">25_B.pdf</A>&nbsp; = <B>STANDARD BOLT TORQUE SPECIFICATIONS</B> <B>----------------------- </B>[</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">0.2Mb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/1990/indiv/25_C.pdf">25_C.pdf</A>&nbsp; = <B>SST & SSM REFERENCE</B> <B>--------------------------------------- </B>[</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">1.5Mb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/1990/indiv/25_D.pdf">25_D.pdf</A>&nbsp; = <B>ELECTRICAL WIRING DIAGRAMS</B> <B>-------------------------------- </B>[</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">34Mb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<BR>
Entire 1990 TSRM: <A href="/mk3supra/1990/1990 Supra TSRM.pdf">1990 Supra TSRM.pdf</FONT><FONT style="FONT-SIZE:12pt" color="#000000" face="Courier New"></A> </FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New"><B>---------------------- </B>[</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">125Mb, PDF</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
Entire 1990 TSRM (Zipped): <A href="/mk3supra/1990/1990TSRM.zip">1990TSRM.zip</FONT><FONT style="FONT-SIZE:12pt" color="#000000" face="Courier New"></A> </FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New"><B>-------------------- </B>[</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">96.3Mb, ZIP</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<BR>
<BR>
<FONT style="FONT-SIZE:12pt; text-decoration:underline; font-weight:bold" color="#000000">Full-Size (Width) Electronic Wiring Diagrams (From 1990 TSRM)</FONT>
<table width=650>&nbsp;</table>
<A href="/mk3supra/tewd/Flyout-1.jpg">Flyout-1.jpg</A> = <B>#1 - BATTERY, STARTER, ECU/COMPUTER, ALTERNATOR (GE) --</B> [</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">746Kb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/tewd/Flyout-2.jpg">Flyout-2.jpg</A> = <B>#2 - GAUGES, AUTOMATIC TRANSMISSION -------------------</B> [</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">606Kb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/tewd/Flyout-3.jpg">Flyout-3.jpg</A> = <B>#3 - WIPERS, HORN, SIGNALS, TEMS ----------------------</B> [</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">749Kb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/tewd/Flyout-4.jpg">Flyout-4.jpg</A> = <B>#4 - WINDOWS, SEATS, LOCKS, ALARM ---------------------</B> [</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">818Kb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/tewd/Flyout-5.jpg">Flyout-5.jpg</A> = <B>#5 - CRUISE, STOP/TAIL/BRAKE/FOG LIGHTS ---------------</B> [</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">728Kb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/tewd/Flyout-6.jpg">Flyout-6.jpg</A> = <B>#6 - RADIO, ANTENNA, INTERIOR LIGHTS, SEAT BELTS ------</B> [</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">788Kb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/tewd/Flyout-7.jpg">Flyout-7.jpg</A> = <B>#7 - AC, COOLER, HEATER, RADIATOR FAN -----------------</B> [</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">601Kb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<A href="/mk3supra/tewd/Flyout-8.jpg">Flyout-8.jpg</A> = <B>#8 - ABS, ENGINE MANAGEMENT, BATTERY/STARTER (GTE) ----</B> [</FONT><FONT style="FONT-SIZE:10pt" color="#FF0000" face="Courier New">854Kb</FONT><FONT style="FONT-SIZE:10pt" color="#000000" face="Courier New">]<BR>
<BR>
<BR>
<FONT style="FONT-SIZE:12pt; text-decoration:underline; font-weight:bold" color="#000000">Specific Tech Links</FONT>
<table width=650>&nbsp;</table>
<ul type="square">
<li><A href="http://www.cygnusx1.net/Supra/TechTips/engine_error_codes.aspx">CygnusX1.net - Error Codes & How to Read Them</a><br></li>
<li><A href="http://www.cygnusx1.net/Supra/Library/TSRM/MK3/default.aspx">CygnusX1.net - <b>Online TSRM</b></a><br></li>
<li><A href="http://www.cygnusx1.net/Supra/TechTips/bhg_faq.aspx">CygnusX1.net - BHG (Blown Head Gasket) FAQ</a><br></li>
<li><A href="http://www.cygnusx1.net/Supra/TechTips/statistics.aspx">CygnusX1.net - Stock Statistics/Specifications</a><br></li>
<li><A href="http://www.cygnusx1.net/Supra/TechTips/vacuum_hose.aspx">CygnusX1.net - Vacuum House Diagrams/Routing</a><br></li>
<li><A href="http://www.cygnusx1.net/Supra/Library/EPC/default.aspx">CygnusX1.net - Toyota Electronic Parts Catalog</a><br></li>
<table  class="grntaco" width=150>&nbsp;</table>
<li><A href="http://www.mkiiitech.com/forum/showthread.php?t=37">MkIIITech.com - Differential Ratios and Options</a><br></li>
<li><A href="http://www.mkiiitech.com/forum/showthread.php?t=26">MkIIITech.com - MKIII Differences by Year</a><br></li>
<table  class="grntaco" width=150>&nbsp;</table>
<li><A href="http://www.supramania.com/forums/showthread.php?t=27725">SupraMania.com - NA->T Conversion</a><br></li>
<li><A href="http://www.supramania.com/forums/forumdisplay.php?f=7">SupraMania.com - Sticky/Reference Section</a><br></li>
<table class="grntaco" width=150>&nbsp;</table>
<li><A href="http://www.supraforums.com/forum/showthread.php?t=167351&">SupraForums.com - Mk3 Gear Ratios</a><br></li>
<li><A href="http://www.supraforums.com/forum/showthread.php?t=194124">SupraForums.com - Stock Specs and Changes (per year)</a><br></li>
<li><A href="http://www.supraforums.com/forum/showthread.php?t=318670">SupraForums.com - Aftermarket Muffler Sizes</a><br></li>
</ul>
<br>
<BR>
<FONT style="FONT-SIZE:12pt; text-decoration:underline; font-weight:bold" color="#000000">General Mk3 Links</FONT>
<table width=650>&nbsp;</table>
<ul type="Round">
<li><A href="http://www.cygnusx1.net/Supra/techtips.aspx">CygnusX1.net</a><br></li>
<li><A href="http://www.mkiiitech.com/forum/index.php">MkIIITech.com</a><br></li>
<li><A href="http://www.supramania.com/forums/">SupraMania.com</a><br></li>
<li><A href="http://www.supraforums.com/forum/">SupraForums.com</a><br></li>
</ul>
<br>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <A href="http://www.rarlab.com/rar/wrar390.exe">Demo version of WinRAR v3.90</A> for opening the above files.</FONT>
</DIV>
</BODY>
</HTML>
